{% extends 'base.html' %}
{% block content %}

<h1>Welcome to Jobber</h1>
  <form action="" method="POST" class="form-inline my-2 my-lg-0">
  {% csrf_token %}
      <input name="search_term" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <input value="Submit" class="btn btn-outline-success my-2 my-sm-0" type="submit">
  </form>
<div class="row">
  {% for event in upcoming %}
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{event.title}}</h5>
          <p class="card-text">{{event.description}}</p>
          <p class="card-text">{{event.dateTime}}</p>
          <a href={% url 'event_detail' event.id %} class="btn btn-primary">Event Details</a>
        </div>
      </div>
    </div>

  {% endfor %}
</div>

{% endblock content %}