#search-input {
  width: 400px;
  margin-left: 120px;
}

#unregister-trigger {
  display: none;
}

.event-container {
  position: relative;
  top: 300px;
}

.home-card {
  height: 309px;
}

.home-input {
  position: relative;
  top: 250px;
  left: 30px;
}

.home-panels {
  margin-bottom: -175px !important
}

.jobber-img {
  width: 40%;
}

.footer {
  position: absolute;
  bottom: -150px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #212529;
  ;
}

.slick-arrow:focus {
  outline: none;
}

.slick-arrow {
  position: absolute;
  outline: none;
  top: 50%;
  margin-top: -108px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slick-prev {
  /* left: -40px; */
  z-index: 1;
  background-color: transparent;
  border-left: 0 solid transparent;
  border-right: 15px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.slick-next {
  right: 0px;
  z-index: 1;
  background-color: transparent;
  border-right: 0 solid transparent;
  border-left: 15px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.user-detail {
  font-weight: bold;
}

.user-detail--card {
  margin-bottom: 20px
}

.user-detail--edit-button {
  margin-bottom: 20px;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}

.technology{
  background-image: url("./images/details.jpeg");
  background-size: cover;
}

.marketing {
  background-image: url("./images/marketing.png");
  background-size: cover;
}
.networking {
  background-image: url("./images/networking.jpeg");
  background-size: cover;
}


.display-4 {
  font-weight:700;
  font-style: italic;
  color: #175594;
}

.event-details {
  padding-left: 25px;
  padding-right: 25px;
}

.detail-info {
  font-weight: bolder;
  font-style: italic;
  color: rgb(53, 49, 48)
}